[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pylint = "*"
pytest = "*"
pdoc3 = "*"
pytest-ordering = "*"
tox = "*"
tox-pipenv = "*"
types-requests = "*"
black = "*"
isort = "*"
importlib_metadata = {version = "*", markers="python_version < '3.8'"}
zipp = {version = "==3.16.2", markers="python_version < '3.8'"}
exceptiongroup = {version = "*", markers="python_version < '3.11'"}
tomli = {version = "*", markers="python_version < '3.11'"}
wrapt = {version = "*", markers="python_version < '3.11'"}
dill = {version = "*", markers="python_version < '3.11'"}

[packages]
requests = "*"
camel-converter = {version = "*", extras = ["pydantic"]}
