[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pdoc3 = "*"
pytest-ordering = "*"
tox = "*"
tox-pipenv = "*"
types-requests = "*"
black = "*"
isort = "*"
exceptiongroup = {version = "*", markers="python_version < '3.11'"}
tomli = {version = "*", markers="python_version < '3.11'"}
wrapt = {version = "*", markers="python_version < '3.11'"}
dill = {version = "*"}
pytest-cov = "*"

[packages]
requests = "*"
camel-converter = {version = "*", extras = ["pydantic"]}
