[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pdoc3 = "*"
pytest-ordering = "*"
tox = "*"
tox-pipenv = "*"
types-requests = "*"

[packages]
requests = "*"
camel-converter = {extras = ["pydantic"], version = "*"}
isort = "*"
black = "*"
