name: PyPI

on:
  push:
    tags:
      - v*

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.9"
          cache: "pipenv"
      - name: Check release validity
        run: sh .github/scripts/check-release.sh
      - name: Install pipenv
        run: pip install pipenv
      - name: Install dependencies
        run: |
          pipenv install
          pipenv run pip3 install build setuptools wheel twine
      - name: Build and publish
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: "pypi-${{ secrets.PYPI_API_TOKEN }}"
        run: |
          pipenv run python3 -m build
          pipenv run twine upload dist/*
